<h1>Bienvenidos a la aplicacion de curso backend</h1>
<a href="/api/products"><button>Productos</button></a>
<a href="/api/carts"><button>Carrito</button></a>
<a href="/api/register"><button>Register</button></a>
<a href="/api/login"><button>Login</button></a>