<h1>Bienvenidos a la aplicacion de curso backend</h1>
<a href="/api/products"><button>Productos</button></a>
<a href="/api/carts"><button>Carrito</button></a>
<a href="/api/users/getRegister"><button>Register</button></a>
<a href="/api/users/getLogin"><button>Login</button></a>