<h3>Name: {{userDB.name}}</h3>
<p>Username: {{userDB.username}}</p>
<p>ROL: {{userDB.role}}</p>
<br />
<a href="/api/users/allUsers"><button>todos los usuarios</button></a>
<a href="/api/users/logout"><button>Cerrar sesion</button></a>