<h3>Name: {{user.name}}</h3>
<p>Username: {{user.username}}</p>
<p>ROL: {{user.role}}</p>
<br />

<a href="/api/products"><button>todos los productos</button></a>
<a href="/api/users/postLogin/current/allUsers"><button>todos los usuarios</button></a>
<a href="/api/users/logout"><button>Cerrar sesion</button></a>