<form action="/api/users/register" method="post">
  First name:<input type="text" name="first_name" id="first_name" />
  Last name:<input type="text" name="last_name" id="last_name" />
  Username:<input type="text" name="username" id="username" />
  Password:<input type="password" name="password" id="password" />
  <br />
  <input type="submit" value="REGISTRARSE" />
</form>
<p>¿ya tienes una cuenta? <a href="/api/login">Ingrese aquí</a></p>