<form action="/api/users/postRegister" method="post">
  First name:<input type="text" name="first_name" id="first_name" />
  Last name:<input type="text" name="last_name" id="last_name" />
  Username:<input type="text" name="username" id="username" />
  Password:<input type="password" name="password" id="password" />
  role("admin", "user"):<input type="text" name="role" id="role" />
  <input type="submit" value="REGISTRARSE" />
</form>
<br />
<button onclick="location.href=`/api/users/registerGithub`">GITHUB</button>
<br />
<p>¿ya tienes una cuenta? <a href="/api/users/getLogin">Ingrese aquí</a></p>